$blue:#3ec6ff;
$gray:#a1a1a1;
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif!important;

    header{
        a{
            color: #a1a1a1;
        }
        
        p.logo{
            font-weight: 100;
            color: $blue;
            font-size: 36px;
            margin-top: 7px;
            margin-bottom: 0;
            span{
                font-weight: 900;
            }
        }

        nav {
            ul.nav-list{
                    margin-top: 7px;
                    margin-bottom: 10px;
                    
                    
                li{
                    margin: 20px;
                    align-content: center;
                    font-size: 14px;
                    color: #a1a1a1;

                    a {
                        &:hover {
                            color: $blue!important;
                            background-color: #fdfdfd;
                            
                        }
                    }
        
                }
                
            }

            img.search {
                   cursor: pointer;
                    transition: 0.3s linear;
                    
                    &:hover {
                        opacity: .5;
                    }
            }
        }
    }
    section.banner{
        background: url(../images/banner.jpg) no-repeat center center;
        background-size: cover;
        height: calc(100vh - 78px);
        filter: opacity(0.8);
        justify-content: center;
        align-items: center;
        flex-direction: column;
                
        p{
            color: white;
            font-size: 18px;
        }
        p.lato{
            font-family: 'Lato', sans-serif!important;
            font-weight: bold;
            font-size: 48px;

        }
    }
    section.activity {
        height: 450px;
        text-align: center;
        align-items: flex-start;
        padding-top: 110px;

        h5{
                padding: 20px;
                font-size: 18px;
                color: $gray;
        }
        p{
            font-size: 14px;
            color: $gray;
        }
        div.item{
            margin: 15px; 
            div.circle{
                border:1px;
                background-color: $blue;
                border-radius: 100%;
                width: 100px;
                height: 100px;
                display: inline-block;
                text-align: center;
                padding-top: 25px;
                
            } 
        }
    
    }
    
    section.mail{

        height: 250px;
        background: url(../images/road1.jpg) no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;

        &::after{
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background:rgba(161, 161, 161, 0.5);
            
        }

        label {
            z-index: 1;
        }

        h6{
            color: #fff;
            z-index: 10;
        }

        .subscription{
            justify-content: center;
            flex-direction:column;
            flex: 1;

            .mailtext{
                padding-left: 10px;
                color: #fff;
            }

            form {
                display: flex;
                z-index: 10;

                > div {
                    flex: 1;
                    border: 1px solid #cacaca;
                    margin-right: 10px;
                }
                > button{
                    min-width: 350px;
                    background-color: $blue;
                    border: none;
                    height: 40px;
                    &:hover{
                        background-color: #fff;
                        color: $gray;
                        border: none;
                    }
                }
            }
        }
        
    }
    section.slider{
        height: 295px;
        padding-left: 0;
        padding-right: 0;
        >div{
            
            margin-top: 100px;
            

        }
        .photo1{
            background: url(../images/1.jpg) no-repeat center center;
            background-size: cover;
        }
        .photo2{
            background: url(../images/2.jpg) no-repeat center center;
            background-size: cover;
        }
        .photo3{
            background: url(../images/3.jpg) no-repeat center center;
            background-size: cover;
        }
        .photo4{
            background: url(../images/4.jpg) no-repeat center center;
            background-size: cover;
        }
        .photo{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: #fff;
            align-items: center;
            flex: 1;
            p{
                z-index: 30;
                display: none;
            }
            &:hover{
                p {
                    display: block;
                    &.title{
                        font-size: 14px;

                    }


                }

                &::after{
                    content: ' ';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background:$blue;
                    opacity: 0.5;
                }
            }
        }
    }
    section.team{
        
        text-align: center;
        color: $gray;
        margin-top: 150px;
        margin-bottom: 160px;
        
        .text{
            margin-bottom: 130px;
            h3{
                font-size: 36px;
            }
            p{
                font-size: 24px;
                padding-left: 150px;
                padding-right: 150px;
            }
        }


        .teampic{
            display: flex;
            flex-direction: row;
            height: 275px;
        }

        .teammember {
            position: relative;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .teammember1{
                display: none;
                z-index: 30;
                
            }

            h4{
                padding-top: 60px;
                
            }
            
            img{
                padding-top:80px;
                 
                
            }
            
            .twitter{
                    padding-left: 20px;
                    padding-right: 20px;
                }
            

            &:hover {
                

                .teammember1{
                    display: block;
                }
                
                
                &::after {
                    content: ' ';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background:$blue;
                    opacity: 0.5;
                    

                    
                }
            }
        }

        .team1{
            background: url(../images/team1.jpg) no-repeat center center;
            background-size: cover;
            flex: 1;
            margin-right: 30px;
        }
        .team2{
            background: url(../images/team2.jpg) no-repeat center center;
            background-size: cover;
            flex: 1;
            margin-right: 30px;
        }
        .team3{
            background: url(../images/team3.jpg) no-repeat center center;
            background-size: cover;
            flex: 1;
            margin-right: 30px;
        }
        .team4{
            background: url(../images/team4.jpg) no-repeat center center;
            background-size: cover;
            flex: 1;
            margin-right: 30px;
        }
        
    }
    section.review{
            height: 620px;
            background: url(../images/review.jpg) no-repeat center center;
            background-size: cover;
            flex: 1;
            filter: opacity(0.6);
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            > div.data {
                text-align: center;
                color: #fff;
                
                >img.logo {
                    border-radius: 100%;
                    padding: 10px;
                    background-color: #fff;
                    height: 100px;
                    width: 100px;
                    margin-bottom: 55px;
                }

                > .fbtext {
                    margin-bottom: 40px;
                    font-size: 26px;
                    z-index: 40;
                }

                p {
                    font-size: 20px;
                }
            }

            > div.actions {
                text-align: center;
                margin-top: 90px;

                img {
                    cursor: pointer;
                    transition: 0.3s linear;
                    
                    &:hover {
                        opacity: .5;
                    }
                }
            }


    }
    section.price{
        height: 480px;

        .pbutton{
            align-items: center;
            height: 240px;
            text-align: center;
            color: $gray;
            font-size: 24px;
            margin-top: 20px;
            

            >.price1{
                flex: 1;
                padding: 30px;
                transition: 0.6s;
                button{
                    background-color: $blue;
                    border:none;
                    transition: 0.6s;
                }
                >h3{
                    font-size: 36px;
                }
                &:hover{
                    background-color: $blue;
                    color: #fff;
                    button{
                        background-color: #fff;
                        color: $gray;
                        border: none;
                    }
                }
            }
        }
        .pricelist{
            text-align: center;
            color: $gray;

            .plist{
                flex:1;
                li{
                    line-height: 2;
                }
            }
        }
        

    }
    section.map{
        height: 725px;
        background: url(../images/map.jpg)no-repeat center center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        .contact{
            width: 630px;
            background-color: $gray;
            padding: 50px 100px;

            .info {
                color: #fff;
                text-align: center;
                padding-bottom: 10px;

                h4 {
                    margin-bottom: 20px;
                    font-size: 30px;
                }

                p {
                    line-height: 2px;
                    font-size: 14px;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                button{
                    background-color: $blue;
                    border:none;
                    
                    &:hover{
                        background-color: #fff;
                        color: $gray;
                        border: none;
                    }
                }
                
            }
            
        }
        
    }
    footer{
        text-align: center;
        font-size: 12px;
        color: $gray;
        margin-top: 20px;
    }
}
