$blue:#3ec6ff;
$gray:#a1a1a1;

body{
    font-family: 'Roboto', sans-serif!important;

    header{
        p.logo{
            font-weight: 100;
            color: $blue;
            font-size: 36px;
            span{
                font-weight: 900;
            }
        }
        ul.nav-list{
            li{
            margin: 20px;
            align-content: center;
            font-size: 14px;
            color: #a1a1a1;
            }
        }
    }
    section.banner{
        background: url(../images/banner.jpg) no-repeat center center;
        background-size: cover;
        height: 900px;
        filter: opacity(0.8);
        justify-content: center;
        align-items: center;
        flex-direction: column;
                
        p{
            color: white;
            font-size: 18px;
        }
        p.lato{
            font-family: 'Lato', sans-serif!important;
            font-weight: bold;
            font-size: 48px;

        }
    }
    section.activity {
        height: 450px;
        text-align: center;
        align-items: flex-start;
        padding-top: 110px;

        h5{
                padding: 20px;
                font-size: 18px;
                color: $gray;
        }
        p{
            font-size: 14px;
            color: $gray;
        }

        
    
        div.item{
            margin: 15px; 
            div.circle{
                border:1px;
                background-color: $blue;
                border-radius: 100%;
                width: 100px;
                height: 100px;
                display: inline-block;
                text-align: center;
                padding-top: 25px;
                
            } 
        }
    }
}
