html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif !important; }
  body header p.logo {
    font-weight: 100;
    color: #3ec6ff;
    font-size: 36px;
    margin-top: 7px;
    margin-bottom: 0; }
    body header p.logo span {
      font-weight: 900; }
  body header ul.nav-list {
    margin-top: 7px;
    margin-bottom: 10px; }
    body header ul.nav-list li {
      margin: 20px;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      font-size: 14px;
      color: #a1a1a1; }
  body section.banner {
    background: url(../images/banner.jpg) no-repeat center center;
    background-size: cover;
    height: calc(100vh - 78px);
    -webkit-filter: opacity(0.8);
    filter: opacity(0.8);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    body section.banner p {
      color: white;
      font-size: 18px; }
    body section.banner p.lato {
      font-family: "Lato", sans-serif !important;
      font-weight: bold;
      font-size: 48px; }
  body section.activity {
    height: 450px;
    text-align: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 110px; }
    body section.activity h5 {
      padding: 20px;
      font-size: 18px;
      color: #a1a1a1; }
    body section.activity p {
      font-size: 14px;
      color: #a1a1a1; }
    body section.activity div.item {
      margin: 15px; }
      body section.activity div.item div.circle {
        border: 1px;
        background-color: #3ec6ff;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        display: inline-block;
        text-align: center;
        padding-top: 25px; }
  body section.mail {
    height: 250px;
    background: url(../images/road1.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative; }
    body section.mail::after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(161, 161, 161, 0.5); }
    body section.mail h6 {
      color: #fff;
      z-index: 10; }
    body section.mail .subscription {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      body section.mail .subscription .mailtext {
        padding-left: 10px;
        color: #fff; }
      body section.mail .subscription form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        z-index: 10; }
        body section.mail .subscription form > div {
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          border: 1px solid #cacaca;
          margin-right: 10px; }
        body section.mail .subscription form > button {
          min-width: 350px;
          background-color: #3ec6ff;
          border: none;
          height: 40px; }
  body section.slider {
    height: 295px;
    padding-left: 0;
    padding-right: 0; }
    body section.slider > div {
      margin-top: 100px; }
    body section.slider .photo1 {
      background: url(../images/1.jpg) no-repeat center center;
      background-size: cover; }
    body section.slider .photo2 {
      background: url(../images/2.jpg) no-repeat center center;
      background-size: cover; }
    body section.slider .photo3 {
      background: url(../images/3.jpg) no-repeat center center;
      background-size: cover; }
    body section.slider .photo4 {
      background: url(../images/4.jpg) no-repeat center center;
      background-size: cover; }
    body section.slider .photo {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      color: #fff;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      body section.slider .photo p {
        z-index: 30;
        display: none; }
      body section.slider .photo:hover p {
        display: block; }
        body section.slider .photo:hover p.title {
          font-size: 14px; }
      body section.slider .photo:hover::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #3ec6ff;
        opacity: 0.5; }
  body section.team {
    text-align: center;
    color: #a1a1a1;
    margin-top: 150px;
    margin-bottom: 160px; }
    body section.team .text {
      margin-bottom: 130px; }
    body section.team .teampic {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      height: 275px; }
    body section.team .teammember {
      position: relative; }
      body section.team .teammember:hover::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #3ec6ff;
        opacity: 0.5; }
    body section.team .team1 {
      background: url(../images/team1.jpg) no-repeat center center;
      background-size: cover;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-right: 30px; }
    body section.team .team2 {
      background: url(../images/team2.jpg) no-repeat center center;
      background-size: cover;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-right: 30px; }
    body section.team .team3 {
      background: url(../images/team3.jpg) no-repeat center center;
      background-size: cover;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-right: 30px; }
    body section.team .team4 {
      background: url(../images/team4.jpg) no-repeat center center;
      background-size: cover;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-right: 30px; }
  body section.review {
    height: 620px;
    background: url(../images/review.jpg) no-repeat center center;
    background-size: cover;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-filter: opacity(0.8);
    filter: opacity(0.8);
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    body section.review > div {
      text-align: center;
      color: #fff; }
      body section.review > div > img {
        border-radius: 100%;
        padding: 10px;
        background-color: #fff;
        height: 50px;
        width: 50px;
        margin-bottom: 125px; }
      body section.review > div > .fbtext {
        margin-bottom: 120px; }
  body section.price {
    height: 480px; }
    body section.price .pbutton {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 240px;
      text-align: center;
      color: #a1a1a1;
      font-size: 24px;
      margin-top: 20px; }
      body section.price .pbutton > .price1 {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 30px;
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s; }
        body section.price .pbutton > .price1 button {
          background-color: #3ec6ff;
          border: none;
          -webkit-transition: 0.6s;
          -o-transition: 0.6s;
          transition: 0.6s; }
        body section.price .pbutton > .price1 > h3 {
          font-size: 36px; }
        body section.price .pbutton > .price1:hover {
          background-color: #3ec6ff;
          color: #fff; }
          body section.price .pbutton > .price1:hover button {
            background-color: #fff;
            color: #a1a1a1;
            border: none; }
    body section.price .pricelist {
      text-align: center;
      color: #a1a1a1; }
      body section.price .pricelist .plist {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1; }
        body section.price .pricelist .plist li {
          line-height: 2; }
  body section.map {
    height: 725px;
    background: url(../images/map.jpg) no-repeat center center;
    background-size: cover; }
    body section.map .contact {
      height: 670px;
      width: 830px;
      background-color: #a1a1a1; }
